@model DotNetInterview.Web.ViewModels.Interviews.DetailsInterviewVM

@{
    ViewData["Title"] = "Details";
}

@section Styles {

    <link href="@Url.Content("~/css/interview-details.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/question.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
}

<h1 class="text-center h-title">
    Interview Details
</h1>

<div class="main-container">
    <main class="main">
        <p class="content-header">
            Position
            <img class="info-direction" src="~/uploads/imageFiles/info-direction4.png" />
        </p>
        <p class="content-description">@Model.PositionTitle</p>
        <hr class="hr-style" />
        <p class="content-header">
            Description
            <img class="info-direction" src="~/uploads/imageFiles/info-direction4.png" />
        </p>
        <p class="content-description">@Model.PositionDescription</p>
        <hr class="hr-style" />
        <div class="short-content">
            <div>
                Likes
                <span id="likes-count" class="badge badge-pill span-items-count">@Model.Likes</span>
                <a id="a-likes-glifi" class="d-inline-block" asp-controller="Interviews" asp-action="Like" asp-route-InterviewId="@Model.InterviewId">
                    <img id="img-like" class="img-glifi vote-up @Model.AddLike" src="~/uploads/imageFiles/up.png" />
                </a>
            </div>
            <div>
                Qns
                <span class="badge badge-pill span-items-count">@Model.InterviewQns.Count()</span>
            </div>
            <div class="">
                <span>Shared by </span>
                <a class="a-user-link @Model.DisableUserLink" asp-area="" asp-controller="Users"
                   asp-action="Details" asp-route-userId="@Model.UserId">@Model.UserFullName</a>
            </div>
        </div>
        <hr class="hr-style" />
        <div class="short-content">
            <div @Model.CanEdit>
                <div id="btn-question" class="btn-group" role="group">
                    <a class="btn btn-sm btn-primary"
                       asp-controller="Interviews" asp-action="Edit" asp-route-interviewId="@Model.InterviewId" role="button">Edit</a>
                </div>
            </div>
            @*<div class="col-2">
                    <div id="btn-question" class="btn-group" role="group">
                        <a class="btn btn-sm btn-primary"
                           asp-controller="Pdf" asp-action="GetPdf" asp-route-interviewId="@Model.InterviewId" download>PDF</a>
                    </div>
                </div>*@
            <div @Model.CanDelete>
                <div id="btn-question div-row-plain-text" class="btn-group" role="group">
                    <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete"
                       asp-controller="Interviews" asp-action="Delete" asp-route-interviewId="@Model.InterviewId">Delete</a>
                </div>
            </div>

            <div @Model.CanHardDelete>
                <div id="btn-question" class="btn-group" role="group">
                    <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#hardDelete"
                       asp-controller="Interviews" asp-action="HardDelete" asp-route-interviewId="@Model.InterviewId">Hard Delete</a>
                </div>
            </div>
        </div>
    </main>
    <aside class="aside">
        <div>
            <div>
                <p class="content-header">Expected seniority
                    <img class="info-direction" src="~/uploads/imageFiles/info-direction4.png" />
                </p>                
            </div>
            @*<div class="d-sm-block">
                <img class="seniority" src="/img/@Model.SeniorityImg">
            </div>*@
            <div>
            <p class="content-description" enum-text="@Model.Seniority">@Model.Seniority</p>
            </div>
            <hr class="hr-style show-under" />
            <br />
            <div>
                <p class="content-header">
                 Position based
                <img class="info-direction" src="~/uploads/imageFiles/info-direction4.png" />
                </p>
            </div>
            <div>
            <p class="content-description" enum-text="@Model.LocationType">@Model.LocationType</p>
            </div>
            <hr class="hr-style show-under" />
            <br />
            <div @Model.ShowLocation>
                <div>
                    <p class="content-header">
                    Location
                    <img class="info-direction" src="~/uploads/imageFiles/info-direction4.png" />
                    </p>
                </div>
                <div>
                    <p class="content-description">@Model.BasedPositionLocation</p>
                </div>
                <hr class="hr-style show-under" />
                <br />
            </div>
            <div>
                <p class="content-header">
                Company nationality
                <img class="info-direction" src="~/uploads/imageFiles/info-direction4.png" />
                </p>
            </div>
            <div>
                <p class="content-description">@Model.CompanyNationality </p>
            </div>
            <hr class="hr-style show-under" />
        </div>
    </aside>
</div>
<br />

<div class="row justify-content-center">
    <div class="col-12 col-sm-10 div-r-border div-m">
        <div class="row justify-content-center div-row">
            <div id="comment-count" class="col-3 comment-count">Comments @Model.InterviewComments.Count()</div>
            <div class="col-1"><button type="button" class="btn btn-sm btn-light btn-comments">Show</button></div>
        </div>

        @foreach (var comment in Model.InterviewComments)
        {
            <div class="row justify-content-center div-row div-question-border-bottom div-comment div-i-comment" hidden>
                <div class="col-9 col-sm-8 wrap">@comment.Content</div>
                <div class="col-2 div-small-fond show-over">@comment.ModifiedOn</div>
                <div class="col-3 col-sm-2 div-small-fond">
                    <a href="/Users/Details?UserId=@comment.UserId" class="a-user-link">
                        @comment.UserFullName
                    </a>
                    <div class="dis-flex div-small-fond" @comment.HideDelete>
                        <form asp-controller="Comments" asp-action="Delete" method="post" class="p-0 form-delete">
                            <div class="form-group mb-2" hidden>
                                <input class="form-control" name="id" value="@comment.CommentId">
                            </div>
                            <button type="submit" class="btn btn-link a-user-link div-small-fond b-i-delete p-0">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
        <div class="row justify-content-start div-row div-comment div-i-button" hidden>
            <div class="col-md-10" @Model.HideAddCommentForm>
                <form asp-controller="Interviews" asp-action="addComment" method="post" class="form" id="form-i-comments">
                    <div class="form-group mb-2">
                        <input class="form-control" name="id" value="@Model.InterviewId" hidden>
                    </div>
                    <div class="form-row align-items-start">
                        <div class="form-group mb-2 div-textarea">
                            <textarea class="form-control" name="content" rows="1" id="comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-light btn-sm btn-comments">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*Questions HTML*@

<div class="col-12 justify-content-center">
    <h1 class="text-center h-title">Questions</h1>
</div>

<div>
    @*Questions legend*@
    @{
        foreach (var rank in Model.QuestionRanks)
        {
            <span><img class="img-glifi" src="/img/@rank.Key" /></span> <span>@rank.Value</span>
        }
    }
</div>

@{
    foreach (var q in Model.InterviewQns)
    {
        <div class="container div-r-border div-q-row">
            <div class="row">
                <div class="col-12">

                    <div class="row div-row div-question-border-bottom">

                        <div class="col-9 col-sm-8"><img src="/img/patch-question.svg" alt="Alternate Text" /> @Html.Raw(q.Content)</div>

                        <div class="d-none d-sm-block col-sm-1 div-small-fond">@q.ModifiedOn</div>
                        <div class="col-1 div-small-fond" hidden="@q.HideRanked">
                            <img class="img-glifi" src="~/img/@q.RankImgName" />
                        </div>
                        <div class="col-1 div-small-fond" hidden="@q.HideFile">
                            <a class="a-user-link" asp-controller="Questions" asp-action="File" asp-route-fileName="@q.File" download>
                                File
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center div-row div-question-border-bottom" hidden="@q.HideAnswer">
                        <div class="col-12"><span class="span-text">A.</span> @Html.Raw(@q.Answer)</div>
                    </div>
                </div>
            </div>
            @*Comments HTML*@
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 div-r-border borderless-under div-m2">
                    <div class="row justify-content-center div-row">
                        <div class="col-3 comment-count2">Comments @q.QnsComments.Count()</div>
                        <div class="col-1"><button type="button" class="btn btn-sm btn-light btn-comments2">Show</button></div>
                    </div>

                    @foreach (var comment in q.QnsComments)
                    {
                        <div class="row justify-content-center div-row div-question-border-bottom div-comment2 div-q-comment" hidden>
                            <div class="col-9 col-sm-8 wrap">@comment.Content</div>
                            <div class="col-2 div-small-fond show-over">@comment.ModifiedOn</div>
                            <div class="col-3 col-sm-2 div-small-fond">
                                <a href="/Users/Details?UserId=@comment.UserId" class="a-user-link">
                                    @comment.UserFullName
                                </a>

                                <div class="dis-flex div-small-fond" @comment.HideDelete>
                                    <form asp-controller="Comments" asp-action="Delete" method="post" class="p-0 form-delete2">
                                        <div class="form-group mb-2" hidden>
                                            <input class="form-control" name="id" value="@comment.CommentId">
                                        </div>
                                        <button type="submit" class="btn btn-link a-user-link div-small-fond b-q-delete p-0">Delete</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    }

                    <div class="row justify-content-start div-row div-question-border-bottom div-comment2 div-q-button" hidden>
                        <div class="col-md-10">
                            <form asp-controller="Questions" asp-action="AddComment" method="post" class="form form-q-comments">
                                <div class="form-group mb-2">
                                    <input class="form-control" name="id" value="@q.QuestionId" hidden>
                                </div>
                                <div class="form-row align-items-start" @Model.HideAddCommentForm>
                                    <div class="form-group mb-2 div-textarea">
                                        <textarea class="form-control comment2" name="content" rows="1"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-light btn-sm btn-comments2">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
}

@*Modal window delete*@
<div class="modal" id="delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete interview?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-danger" asp-controller="Interviews" asp-action="Delete" asp-route-interviewId="@Model.InterviewId"
                   role="button">Delete</a>
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*end delete*@

@*Modal window hard delete*@
<div class="modal" id="hardDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm hard delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to hard delete interview?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-danger" asp-controller="Interviews" asp-action="HardDelete" asp-route-interviewId="@Model.InterviewId"
                   role="button">Hard delete</a>
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*end hard delete*@

<environment names="Development">
    <script src="~/js/comments-interview.js" asp-append-version="true"></script>
    <script src="~/js/comments-question.js" asp-append-version="true"></script>
</environment>
<environment names="Production, Deploy">
    <script src="~/js/comments-interview.js" asp-append-version="true"></script>
    <script src="~/js/comments-question.js" asp-append-version="true"></script>
</environment>

