@model DotNetInterview.Web.ViewModels.Interviews.DetailsInterviewVM

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link href="@Url.Content("~/css/interview-details.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/questions-details.css")" rel="stylesheet" type="text/css" />
}

<div class="container div-r-border">
    <div class="row">
        <div class="col-10">
            <h1 class="text-center h-title">
                Interview Details
            </h1>
            <div class="row justify-content-center">
                <div class="col-2 div-row-header">Seniority:</div>
                <div class="col-6 div-row">@Model.Seniority</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2 div-row-header">Title:</div>
                <div class="col-6 div-row">@Model.PositionTitle</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2 div-row-header">Description:</div>
                <div class="col-6 div-row">@Model.PositionDescription</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2 div-row-header">
                    Likes:
                    <span id="likes-count" class="badge badge-pill span-questions">@Model.Likes</span>
                    <a id="a-likes-glifi" asp-controller="Interviews" asp-action="Like" asp-route-InterviewId="@Model.InterviewId"><img id="img-like" class="img-glifi vote-up @Model.AddLike" src="~/uploads/imageFiles/up.png" /></a>                    
                </div>
                <div class="col-2 div-row-header">
                    Qns:
                    <span class="badge badge-pill span-questions">@Model.InterviewQns.Count()</span>
                </div>
                <div class="col-2 div-row">
                    <span class="div-row-header">Shared by: </span>
                    <a class="a-user-link" href="/Users/Details?UserId=@Model.UserId">@Model.UserFullName</a>
                </div>
                <div class="col-2 div-row">
                    <span class="div-row-header">On: </span>@Model.ModifiedOn
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 div-r-border div-m">
            <div class="row justify-content-center div-row">
                <div id="comment-count" class="col-3">Comments (@Model.InterviewComments.Count())</div>
                <div class="col-1"><button type="button" class="btn btn-sm btn-light btn-comments">Show</button></div>
            </div>

            @foreach (var comment in Model.InterviewComments)
            {
                <div class="row justify-content-center div-row div-r-bb div-comment div-i-comment" hidden>
                    <div class="col-8">@comment.Content</div>
                    <div class="col-2 div-small-fond">@comment.ModifiedOn</div>
                    <div class="col-1 div-small-fond">
                        <a href="/Users/Details?UserId=@comment.UserId" class="a-user-link">
                            @comment.UserFullName
                        </a>
                    </div>
                    <div class="col-1 div-small-fond" @comment.HideDelete>
                        <form asp-controller="Comments" asp-action="Delete" method="post" class="p-0 form-delete">
                            <div class="form-group mb-2" hidden>
                                <input class="form-control" name="id" value="@comment.CommentId">
                            </div>
                            <button type="submit" class="btn btn-link a-user-link div-small-fond b-i-delete p-0">Delete</button>
                        </form>
                    </div>
                </div>
            }

            <div class="row justify-content-start div-row div-r-bb div-comment div-i-button" hidden>
                <div class="col-md-10" @Model.HideAddCommentForm>
                    <form asp-controller="Interviews" asp-action="addComment" method="post" class="form" id="form-i-comments">
                        <div class="form-group mb-2">
                            <input class="form-control" name="id" value="@Model.InterviewId" hidden>
                        </div>
                        <div class="form-row align-items-start">
                            <div class="form-group mb-2 div-textarea">
                                <textarea class="form-control" name="content" rows="1" id="comment"></textarea>
                            </div>
                            <button type="submit" class="btn btn-light btn-sm btn-comments">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*Questions HTML*@

<div class="col-10 justify-content-center">
    <h1 class="text-center h-title">Questions</h1>
</div>

@{
    int counter = 1;
    foreach (var q in Model.InterviewQns)
    {
        <div class="container div-r-border div-q-row">
            <div class="row">
                <div class="col-12">

                    <div class="row div-row div-r-bb">

                        <div class="col-8"><span class="span-text">@counter. </span>@q.Content</div>

                        <div class="col-1 div-small-fond">@q.ModifiedOn</div>
                        <div class="col-1 div-small-fond" hidden="@q.HideRanked"><img class="img-glifi" src="~/uploads/imageFiles/star.png" /> @q.Ranked</div>
                        <div class="col-1 div-small-fond" hidden="@q.HideFile">
                            <a class="a-user-link" href="/uploads/taskFiles/@q.File" download>
                                Download file
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center div-row div-r-bb" hidden="@q.HideAnswer">
                        <div class="col-12"><span class="span-text">Answer:</span> @q.Answer</div>
                    </div>
                </div>
            </div>
            @*Comments HTML*@
            <div class="row justify-content-center">
                <div class="col-8 div-r-border div-m2">
                    <div class="row justify-content-center div-row">
                        <div class="col-3 comment-count2">Comments (@q.QnsComments.Count())</div>
                        <div class="col-1"><button type="button" class="btn btn-sm btn-light btn-comments2">Show</button></div>
                    </div>

                    @foreach (var comment in q.QnsComments)
                    {
                        <div class="row justify-content-center div-row div-r-bb div-comment2 div-q-comment" hidden>
                            <div class="col-8">@comment.Content</div>
                            <div class="col-2 div-small-fond">@comment.ModifiedOn</div>
                            <div class="col-1 div-small-fond">
                                <a href="/Users/Details?UserId=@comment.UserId" class="a-user-link">
                                    @comment.UserFullName
                                </a>
                            </div>
                            <div class="col-1 div-small-fond" @comment.HideDelete>
                                <form asp-controller="Comments" asp-action="Delete" method="post" class="p-0 form-delete2">
                                    <div class="form-group mb-2" hidden>
                                        <input class="form-control" name="id" value="@comment.CommentId">
                                    </div>
                                    <button type="submit" class="btn btn-link a-user-link div-small-fond b-q-delete p-0">Delete</button>
                                </form>
                            </div>
                        </div>
                    }

                    <div class="row justify-content-start div-row div-r-bb div-comment2 div-q-button" hidden>
                        <div class="col-md-10">
                            <form asp-controller="Questions" asp-action="AddComment" method="post" class="form form-q-comments">
                                <div class="form-group mb-2">
                                    <input class="form-control" name="id" value="@q.QuestionId" hidden>
                                </div>
                                <div class="form-row align-items-start">
                                    <div class="form-group mb-2 div-textarea">
                                        <textarea class="form-control comment2" name="content" rows="1"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-light btn-sm btn-comments2">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        counter++;
    }
}

<environment names="Development">
    <script src="~/js/comments-interview.js" asp-append-version="true"></script>
    <script src="~/js/comments-question.js" asp-append-version="true"></script>
</environment>
<environment names="Production, Deploy">
    <script src="~/js/comments-interview.js" asp-append-version="true"></script>
    <script src="~/js/comments-question.js" asp-append-version="true"></script>
</environment>

