@model EditInterviewDTO
@using DotNetInterview.Web.ViewModels.Enums;

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <link href="@Url.Content("~/css/create-interview.css")" rel="stylesheet" type="text/css" />
}

<h4>Edit</h4>

<div class="row">
    <div class="col-md-10">

        <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: "textarea.edit-with-tinymce",
                plugins: [
                    "image paste table link code media"
                ]
            });
        </script>

        <form asp-controller="Interviews" asp-action="Edit" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div hidden>
                <input asp-for="InterviewId" value="@Model.InterviewId" />
            </div>

            <div class="form-group">
                <label asp-for="Seniority" class="control-label required"></label>
                <select asp-for="Seniority" class="form-control" asp-items="Html.GetEnumSelectList<PositionSeniorityVM>()">
                </select>
                <span asp-validation-for="Seniority" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PositionTitle" class="control-label required"></label>
                <input asp-for="PositionTitle" class="form-control" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PositionDescription" class="control-label"></label>
                <input asp-for="PositionDescription" class="form-control" />
                <span asp-validation-for="PositionDescription" class="text-danger"></span>
            </div>

            <div class="form-group inner-form">
                <p>Position location</p>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input btn-radio" id="office-type" name="locationType" value="InOffice" @Model.InOfficeChecked>
                    <label class="form-check-label" for="office-type">In office</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input btn-radio" name="locationType" value="Remote" @Model.RemoteChecked>
                    <label class="form-check-label" for="materialInline2">Remote</label>
                </div>
            </div>

            <div class="form-group" id="div-location" @Model.ShowLocation>
                <label asp-for="BasedPositionLocation" class="control-label required"></label>
                <input asp-for="BasedPositionLocation" class="form-control" />
                <span asp-validation-for="BasedPositionLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyNationality" class="control-label required"></label>
                <select asp-for="CompanyNationality" class="form-control" data-val="true" aria-describedby="CompanyNationality-error" asp-items="Model.CompanyListNationalities">
                </select>
                <span asp-validation-for="CompanyNationality" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Employees" class="control-label required"></label>
                <select asp-for="Employees" class="form-control" asp-items="Html.GetEnumSelectList<EmployeesSizeVM>()">
                </select>
                <span asp-validation-for="Employees" class="text-danger"></span>
            </div>

            <div class="inner-form">
                <h4>Add interview questions information</h4>
                @{
                    for (var q = 0; q < Model.Questions.Count; q++)
                    {
                        int number = q + 1;
                        bool InitialState = string.IsNullOrWhiteSpace(Model.Questions[q].GivenAnswer);

                        <div class="question">
                            <div class="form-group question-group mb-0" data-index="0" data-number="1">

                                <div hidden>
                                    <input asp-for="Questions[q].QuestionId" value="@Model.Questions[q].QuestionId"/>
                                </div>

                                <div class="div-textarea">
                                    <label asp-for="Questions" class="control-label inner-label required">@number. Question - interview must have at least one question</label>
                                    <textarea asp-for="Questions[q].Content" rows="2" cols="50" class="form-control edit-with-tinymce"></textarea>
                                    <span asp-validation-for="Questions[q].Content" class="text-danger"></span>
                                </div>

                                <div>
                                    <div class="form-check form-check-inline">
                                        <p>You can rank this question as most:</p>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input interesting" type="checkbox" name="Questions[@q].Interesting" value="1">
                                        <label class="form-check-label" for="inlineCheckbox1">interesting</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input unexpected" type="checkbox" name="Questions[@q].Unexpected" value="2">
                                        <label class="form-check-label" for="inlineCheckbox2">unexpected</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input difficult" type="checkbox" name="Questions[@q].Difficult" value="3">
                                        <label class="form-check-label" for="inlineCheckbox3">difficult</label>
                                    </div>
                                </div>
                            </div>
                            @*// Answer*@
                            <div class="answer" @Model.Questions[q].GivenAnswerCss>
                                <label asp-for="Questions" class="control-label inner-label required">Given answer</label>
                                <textarea asp-for="Questions[q].GivenAnswer" rows="2" cols="50" class="form-control edit-with-tinymce"></textarea>
                                <span asp-validation-for="Questions[q].GivenAnswer" class="text-danger"></span>
                            </div>
                            @*// Button*@
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2 btn-answer" role="group" aria-label="First group">
                                    <button type="button" data-add="@InitialState" class="btn btn-sm btn-secondary">@Model.Questions[q].GivenAnswerBtnText</button>
                                </div>

                                <div class="btn-group">
                                    <input class="input-file file" type="file" id="FileUpload_FormFile" asp-for="Questions[q].FormFile">
                                </div>

                            </div>
                        </div>
                    }
                }
                <div id="btn-question" class="btn-group mr-2" role="group">
                    <button type="button" class="btn btn-sm btn-secondary">Add question</button>
                </div>

                <div class="btn-group mr-2 question-delete" role="group" hidden>
                    <button type="button" class="btn btn-sm btn-secondary">Delete question</button>
                </div>

            </div>

            <div class="form-group button-question">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<environment names="Development">
    <script src="~/js/create-interview.js" asp-append-version="true"></script>
</environment>
<environment names="Production, Deploy">
    <script src="~/js/create-interview.js" asp-append-version="true"></script>
</environment>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
