@using DotNetInterview.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/typography.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/navigation.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/footer.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/user-forms.css" rel="stylesheet" asp-append-version="true" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        @RenderSection("styles", false)
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/navigation.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/footer.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/user-forms.css" rel="stylesheet" asp-append-version="true" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        @RenderSection("styles", false)
    </environment>
</head>
<body>
    <header class="main_menu">
        <div class="main_menu_iner">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                            <a href="/"> <img id="brand" src="~/img/dot-net-logo.jpg" alt="logo"> </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse main-menu-item justify-content-center"
                                 id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"
                                           asp-area="" asp-controller="Interviews" asp-action="All" asp-route-seniority="0" id="navbarDropdown"
                                           role="button" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">Interviews</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-area="" asp-controller="Interviews" asp-action="All" asp-route-seniority="0">All</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Interviews" asp-action="All" asp-route-seniority="1">Junior developer</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Interviews" asp-action="All" asp-route-seniority="2">Regular developer</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Interviews" asp-action="All" asp-route-seniority="3">Senior developer</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Interviews" asp-action="All" asp-route-seniority="4">Lead developer</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Interviews" asp-action="All" asp-route-seniority="5">Architect</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Interviews" asp-action="All" asp-route-seniority="99">Other</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"
                                           asp-area="" asp-controller="Questions" asp-action="All" asp-route-ranked="4" id="navbarDropdown"
                                           role="button" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">Questions</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-area="" asp-controller="Questions" asp-action="All" asp-route-ranked="4">All</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Questions" asp-action="All" asp-route-ranked="1">Most interesting</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Questions" asp-action="All" asp-route-ranked="2">Most unexpected</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Questions" asp-action="All" asp-route-ranked="3">Most diffucult</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Interviews/Create" class="nav-link btn_nav_1 d-md-block">Share</a>
                                    </li>
                                </ul>
                                <partial name="_LoginPartial" />
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer justify-content-center">
        <div class="footer-container">

            <div>&copy; @GlobalConstants.SystemName</div>
            <div><a class="ml-1" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
            <div><a class="ml-1" asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>            
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
